<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="EATestConfiguration" type="EAAutoFramework.ConfigElement.EATestConfiguration, EAAutoFramework"/>
  </configSections>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22529/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices" contract="Service.IServices" name="BasicHttpBinding_IServices" />
    </client>
  </system.serviceModel>
<specFlow>
  <unitTestProvider name="MSTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies></specFlow>

  <EATestConfiguration>
    <testSettings>
      <testSetting name="staging" aut="http://localhost/" browser="Chrome" testType="SmokeTest" isLog="Y" logPath="D:\\EAAutoLogs\\" />
      <testSetting name="preprod" aut="http://localhost/" browser="IE" testType="Regression" isLog="Y" logPath="D:\\EAAutoLogs\\" />
      <testSetting name="production" aut="http://localhost/" browser="Firefox" testType="SmokeTest" isLog="Y" logPath="D:\\EAAutoLogs\\" />
    </testSettings>
  </EATestConfiguration>



</configuration>